<div class="wizard-indicator">
	<!-- basic-info -->
	<div class="cell">
		<div class="label">Name</div>
		<div class="number"><span>1</span></div>
		<div class="link"></div>
	</div>

	<!-- contact-info -->
	<div class="cell">
		<div class="label">Contact</div>
		<div class="number"><span>2</span></div>
		<div class="link"></div>
	</div>

	<!-- date-of-birth -->
	<div class="cell">
		<div class="label">Birth</div>
		<div class="number"><span>3</span></div>
		<div class="link"></div>
	</div>

	<!-- login-details -->
	<div class="cell">
		<div class="label">Login</div>
		<div class="number"><span>4</span></div>
		<div class="link"></div>
	</div>

	<!-- submission -->
	<div class="cell">
		<div class="label">Submit</div>
		<div class="number"><span>5</span></div>
	</div>
</div>
