<app-menu menuAlign="right">
	<app-menu-button [appMenuTrigger]="main"><span class="account">{{ userName }}</span></app-menu-button>
	<app-menu-panel #main="appMenuPanel">
		<div appMenuItem="left" [appMenuTrigger]="language">Language</div>
		<div appMenuItem [appMenuTrigger]="null" class="pointer" (click)="logout()">Logout</div>
	</app-menu-panel>
	<app-menu-panel #language="appMenuPanel">
		<div appMenuItem="right" [appMenuTrigger]="main">Language</div>
		<div appMenuItem="divider"></div>
		<div appMenuItem (click)="useLanguage('en')">English</div>
		<div appMenuItem (click)="useLanguage('zh')">Chinese</div>
	</app-menu-panel>
</app-menu>
