.two-columns {
	display: grid;
	grid-template-columns: minmax(0, 1fr);
	row-gap: .5em;

	@media (min-width: 576px) {
		grid-template-columns: repeat(2, minmax(0, 1fr));
		column-gap: .5em;
		row-gap: 0;
	}
}
