<h1>{{ title }}</h1>
<hr>

<form class="form mb-3" [formGroup]="formGroup" (ngSubmit)="onSubmit()" autocomplete="off" novalidate>
	<div class="inputs">
		<!-- date -->
		<div class="form-date">
			<label for="date">Date: </label>
			<input type="date" id="date" formControlName="date" [ngClass]="validation(date)">
			<span class="form-invalid-prompt column-2" *ngIf="date.errors?.required">Please enter a valid date</span>
		</div>

		<!-- time -->
		<div class="form-time">
			<label for="time">Time: </label>
			<input type="time" id="time" formControlName="time" [ngClass]="validation(time)">
			<span class="form-invalid-prompt column-2" *ngIf="time.errors?.required">Please enter a valid time</span>
		</div>

		<!-- datetime-local -->
		<div class="form-datetime">
			<label for="datetime">Datetime: </label>
			<input type="datetime-local" id="datetime" formControlName="datetime" [ngClass]="validation(datetime)">
			<span class="form-invalid-prompt column-2" *ngIf="datetime.errors?.required">Please enter a valid date and time</span>
		</div>
	</div>

	<hr>

	<div class="inputs">
		<!-- custom date -->
		<div class="form-date" *ngIf="isMobileDevice()">
			<label for="date">Date: </label>
			<input type="date" id="date" formControlName="date" [ngClass]="validation(date)">
			<span class="form-invalid-prompt column-2" *ngIf="date.errors?.required">Please enter a valid date</span>
		</div>

		<div class="form-date" *ngIf="!isMobileDevice()">
			<label>Date: </label>
			<app-input-date formControlName="date" [ngClass]="validation(date)"></app-input-date>
			<span class="form-invalid-prompt column-2" *ngIf="date.errors?.required">Please enter a valid date</span>
		</div>

		<!-- custom time -->
		<div class="form-time" *ngIf="isMobileDevice()">
			<label for="time">Time: </label>
			<input type="time" id="time" formControlName="time" [ngClass]="validation(time)">
			<span class="form-invalid-prompt column-2" *ngIf="time.errors?.required">Please enter a valid time</span>
		</div>

		<div class="form-time" *ngIf="!isMobileDevice()">
			<label>Time: </label>
			<app-input-time formControlName="time" [ngClass]="validation(time)"></app-input-time>
			<span class="form-invalid-prompt column-2" *ngIf="time.errors?.required">Please enter a valid time</span>
		</div>
	</div>

	<hr>

	<!-- submit -->
	<div class="form-submit">
		<button class="btn btn-success">Submit</button>
	</div>
</form>
