.form-date,
.form-time,
.form-datetime {
	display: inline-grid;
	grid-template-columns: repeat(2, max-content);
	align-items: center;
	column-gap: .3em;

	.form-invalid-prompt.placeholder {
		grid-column: 2;
	}
}

.native-inputs {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
	column-gap: 1em;
	row-gap: 1em;
}
