<ng-template>

<div class="basic-info">
	<h3>Basic Info:</h3>

	<form class="form" [formGroup]="formGroup" autocomplete="off" novalidate>
		<!-- first name -->
		<div class="first-name mb-3">
			<label for="firstName" class="form-label">First Name</label>
			<input type="text" id="firstName" class="form-control" formControlName="firstName" [ngClass]="validation(firstName)">
			<span class="form-invalid-prompt" *ngIf="firstName.errors?.required">First name is required</span>
		</div>

		<!-- last name -->
		<div class="last-name mb-3">
			<label for="lastName" class="form-label">Last Name</label>
			<input type="text" id="lastName" class="form-control" formControlName="lastName" [ngClass]="validation(lastName)">
			<span class="form-invalid-prompt" *ngIf="lastName.errors?.required">Last name is required</span>
		</div>
	</form>

	<div class="buttons">
		<ng-content></ng-content>
	</div>
</div>

</ng-template>
