<div class="calendar">
	<div class="header">
		<div class="year-month">{{ month | month }} {{ year }}</div>
		<div class="prev-next-month">
			<div class="prev-month" (click)="prevMonth()"></div>
			<div class="next-month" (click)="nextMonth()"></div>
		</div>
	</div>
	<div class="grid">
		<div class="cell" *ngFor="let weekday of weekdays">{{ weekday }}</div>
	</div>
	<div class="grid">
		<div class="cell date" *ngFor="let date of dates; trackBy:indexTracker" [ngClass]="styleDate(date)" (click)="selectDate(date)">{{ date.date }}</div>
	</div>
	<div class="footer">
		<div class="text-info" (click)="today()">Today</div>
	</div>
</div>
