@import '_variables';
@import '_mixins';
@import '_utilities';

.calendar {
	position: absolute;
	z-index: 1;

	width: 15.5rem;
	padding: .8em;
	border: 1px solid #ced4da;
	background-color: #fff;
	box-shadow: 5px 5px 10px #999999;
	outline: none;

	font-size: .8em;

	.header {
		display: flex;
		justify-content: space-between;
		margin-bottom: .5em;

		.year-month {
			padding-right: 1em;

			background-image: url('/assets/icons/caret-down-fill.svg');
			background-repeat: no-repeat;
			background-size: .8em .8em;
			background-position: right 0 top 50%;

			font-size: 1.1em;
			font-weight: bold;
			cursor: default;
		}

		.prev-next-month {
			display: flex;

			.prev-month,
			.next-month {
				width: 2em;
				height: 2em;

				background-repeat: no-repeat;
				background-size: contain;
			}

			.prev-month { background-image: url('/assets/icons/arrow-up-short.svg'); }
			.next-month { background-image: url('/assets/icons/arrow-down-short.svg'); }

			.prev-month:hover,
			.next-month:hover {
				background-color: #b5d5ff;
			}
		}
	}

	.footer {
		display: flex;
		justify-content: flex-end;

		padding: .2em;
		cursor: default;
	}

	.grid {
		display: grid;
		grid-template-columns: repeat(7, 2.5em);
		grid-auto-rows: 2.5em;

		.cell {
			@include flexbox-center;
		}
	}

	.date:not(.selected-date):hover {
		background-color: #b5d5ff;
		cursor: default;
	}

	.invalid-date {
		color: #6c757d;
	}

	.selected-date {
		color: #fff;
		background-color: #0d6efd;

		font-size: 1.1em;
		cursor: default;
	}

	.years {
		position: relative;

		height: 15rem;
		overflow: auto;

		.year {
			padding: .5em;
			border-bottom: 2px solid #e1e6ea;
			background-color: #f8f9fa;

			cursor: default;

			.months {
				display: grid;
				grid-template-columns: repeat(4, 25%);
				grid-auto-rows: 2.5em;

				background-color: #f0f2f4;

				.month {
					@include flexbox-center;
				}

				.month:not(.selected-month):hover {
					background-color: #b5d5ff;
					cursor: default;
				}

				.selected-month {
					color: #fff;
					background-color: #0d6efd;

					font-size: 1.1em;
					cursor: default;
				}
			}
		}
	}
}
