<h1>{{ title }}</h1>
<hr>

<div class="wizard-container mb-5">
	<div class="wizard-indicator mb-3">
		<app-wizard-indicator [page]="currentPage"></app-wizard-indicator>
	</div>
	<div class="wizard-content">
		<ng-container #viewContainerRef></ng-container>

		<app-basic-info #page1="basicInfo">
			<button class="btn btn-primary" (click)="switch(page2)" [disabled]="page1.formGroup.invalid">Next</button>
		</app-basic-info>

		<app-contact-info #page2="contactInfo">
			<button class="btn btn-primary" (click)="switch(page1)">Prev</button>
			<button class="btn btn-primary" (click)="switch(page3)" [disabled]="page2.formGroup.invalid">Next</button>
		</app-contact-info>

		<app-date-of-birth #page3="dateOfBirth">
			<button class="btn btn-primary" (click)="switch(page2)">Prev</button>
			<button class="btn btn-primary" (click)="switch(page4)" [disabled]="page3.formGroup.invalid">Next</button>
		</app-date-of-birth>

		<app-login-details #page4="loginDetails">
			<button class="btn btn-primary" (click)="switch(page3)">Prev</button>
			<button class="btn btn-primary" (click)="switch(page5)" [disabled]="page4.formGroup.invalid">Next</button>
		</app-login-details>

		<app-submission #page5="submission" [page]="currentPage">
			<button class="btn btn-primary" (click)="switch(page4)">Prev</button>
			<button class="btn btn-primary" (click)="submit()">Submit</button>
		</app-submission>
	</div>
</div>
