.login {
	padding: 1rem;
	border: 1px solid #dfdfdf;
	border-radius: .25rem;

	background-color: #fff;

	.header {
		padding-bottom: .5rem;
		border-bottom: 1px solid #dfdfdf;
		margin-bottom: 1rem;
	}

	.form {
		.form-name,
		.form-password {
			display: grid;
			grid-template-columns: minmax(0, 1fr);

			@media (min-width: 576px) {
				grid-template-columns: 25% 75%;
				align-items: center;

				.form-invalid-prompt.placeholder {
					grid-column: 2;
				}
			}
		}

		.form-buttons {
			display: flex;
			justify-content: flex-end;
			column-gap: .5rem;
		}
	}
}
