@import '_utilities';

// the input sequence of $directions: top, left, right, bottom
@mixin position($position, $directions...) {
	position: $position;

	@if length($directions) > 4 { @error 'too many arguments for $directions'; }

	@if length($directions) >= 1 { top: nth($directions, 1); }
	@if length($directions) >= 2 { left: nth($directions, 2); }
	@if length($directions) >= 3 { right: nth($directions, 3); }
	@if length($directions) == 4 { bottom: nth($directions, 4); }
}

@mixin flexbox-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
