@import '_utilities';

$banner-height: 4rem;
$banner-indent: 1rem;

$view-height: subtract(100vh, $banner-height);
$view-h-indent: 1rem;	// horizontal
$view-v-indent: 1rem;	// vertical

// custom form variables
$color-form-border-normal: #ced4da;
$color-form-border-focus: #80bdff;
$color-form-border-checked: #007bfe;
$color-form-boxshadow: #c3deff;

$color-form-valid-font: #28a745;
$color-form-valid-border-normal: #28a745;
$color-form-valid-border-focus: #28a745;
$color-form-valid-border-checked: #34ce57;
$color-form-valid-boxshadow: #cae9d1;

$color-form-invalid-font: #dc3645;
$color-form-invalid-border-normal: #dc3645;
$color-form-invalid-border-focus: #dc3645;
$color-form-invalid-border-checked: #e45f6c;
$color-form-invalid-boxshadow: #f7cdd1;
