@use 'sass:map';
@import '_variables';

// textarea validation status
$textarea: (
	'.form-valid-status': (
		'color-border-normal': $color-form-valid-border-normal,
		'color-border-focus': $color-form-valid-border-focus,
		'color-boxshadow': $color-form-valid-boxshadow,
		'background-image': url('/assets/icons/input-text-valid.svg')
	),
	'.form-invalid-status': (
		'color-border-normal': $color-form-invalid-border-normal,
		'color-border-focus': $color-form-invalid-border-focus,
		'color-boxshadow': $color-form-invalid-boxshadow,
		'background-image': url('/assets/icons/input-text-invalid.svg')
	)
);

@each $selector, $properties in $textarea {
	$color-border-normal: map.get($properties, 'color-border-normal');
	$color-border-focus: map.get($properties, 'color-border-focus');
	$color-boxshadow: map.get($properties, 'color-boxshadow');
	$background-image: map.get($properties, 'background-image');

	textarea#{$selector} {
		padding-right: 2rem;
		border: 1px solid $color-border-normal;

		background-image: $background-image;
		background-repeat: no-repeat;
		background-size: 1.2rem 1.2rem;
		background-position: right .4rem top 10%;
	}

	textarea:focus#{$selector} {
		border: 1px solid $color-border-focus;
		box-shadow: 0 0 0 3px $color-boxshadow;
	}
}
