@use 'sass:map';
@import '_variables';

// input radio status (normal, valid and invalid)
$type: 'radio';
$input-radio: (
	'.input-radio': (
		'color-label': null,
		'color-border-normal': $color-form-border-normal,
		'color-border-focus': $color-form-border-focus,
		'color-border-checked': $color-form-border-checked,
		'color-boxshadow': $color-form-boxshadow
	),
	'.input-radio.form-valid-status': (
		'color-label': $color-form-valid-font,
		'color-border-normal': $color-form-valid-border-normal,
		'color-border-focus': $color-form-valid-border-focus,
		'color-border-checked': $color-form-valid-border-checked,
		'color-boxshadow': $color-form-valid-boxshadow
	),
	'.input-radio.form-invalid-status': (
		'color-label': $color-form-invalid-font,
		'color-border-normal': $color-form-invalid-border-normal,
		'color-border-focus': $color-form-invalid-border-focus,
		'color-border-checked': $color-form-invalid-border-checked,
		'color-boxshadow': $color-form-invalid-boxshadow
	)
);

@each $selector, $properties in $input-radio {
	$color-label: map.get($properties, 'color-label');
	$color-border-normal: map.get($properties, 'color-border-normal');
	$color-border-focus: map.get($properties, 'color-border-focus');
	$color-border-checked: map.get($properties, 'color-border-checked');
	$color-boxshadow: map.get($properties, 'color-boxshadow');

	#{$selector} {
		position: relative;
		display: inline-block;

		input[type=#{$type}] {
			position: absolute;
			z-index: -1;
			opacity: 0;
			width: 0;
			height: 0;
		}

		input[type=#{$type}] + label {
			display: flex;
			align-items: center;
			column-gap: .25em;

			@if $color-label { color: $color-label; }
		}

		input[type=#{$type}] + label::before {
			content: '';
			display: block;
			width: 1em;
			height: 1em;
			border: 1px solid $color-border-normal;
			border-radius: 50%;
		}

		input[type=#{$type}]:focus + label::before {
			border: 1px solid $color-border-focus;
			box-shadow: 0 0 0 3px $color-boxshadow;
		}

		input[type=#{$type}]:checked + label::before {
			border: .35em solid $color-border-checked;
		}
	}
}
