@use 'sass:map';
@import '_variables';
@import '_mixins';

// input file status (normal, valid and invalid)

$type: 'file';

$custom-file-upload: (
	'.falcon-custom-file': (
		'border-color-1': $normal-color-1,
		'border-color-2': $normal-color-2,
		'shadow-color': $normal-color-3
	),
	'.falcon-custom-file.falcon-control-valid': (
		'border-color-1': $valid-color-1,
		'border-color-2': $valid-color-1,
		'shadow-color': $valid-color-2
	),
	'.falcon-custom-file.falcon-control-invalid': (
		'border-color-1': $invalid-color-1,
		'border-color-2': $invalid-color-1,
		'shadow-color': $invalid-color-2
	)
);

@each $selector, $properties in $custom-file-upload {

	$border-color-1: map.get($properties, 'border-color-1');
	$border-color-2: map.get($properties, 'border-color-2');
	$shadow-color: map.get($properties, 'shadow-color');

	#{$selector} {
		position: relative;
		display: block;

		input[type=#{$type}], label { all: unset; }

		input[type=#{$type}] {
			position: absolute;
			z-index: -1;
			opacity: 0;

			max-width: 0;
			max-height: 0;
		}

		input[type=#{$type}] + label {
			position: relative;
			display: block;

			box-sizing: border-box;
			width: 100%;
			padding: .5rem 3rem .5rem 1rem;
			border: 1px solid $border-color-1;
			border-radius: .25rem;

			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		input[type=#{$type}] + label::after {
			content: url('/assets/icons/upload.svg');

			@include position(absolute, 0, auto, 0, 0);

			display: block;
			padding: .5rem 1rem;
			border-radius: 0 .25rem .25rem 0;
			background-color: #e9ecef;
		}

		input[type=#{$type}]:focus + label {
			border: 1px solid $border-color-2;
			box-shadow: 0 0 0 3px $shadow-color;
		}
	}
}
