@import '_variables';
@import '_mixins';
@import '_utilities';

.menu-backdrop {
	@include position(fixed, 0, 0, 0, 0);
	z-index: $z-index-level-1;

	background-color: transparent;
}

.menu {
	position: relative;
	display: inline-block;
}

.menu-backdrop ~ .menu {
	z-index: $z-index-level-2;
}
