@import '_variables';
@import '_mixins';
@import '_utilities';

.view-container {
	height: $view-height;
	padding: $view-v-indent $view-h-indent;
	margin-top: $banner-height;

	.view-navigation {
		display: none;

		@media (min-width: 576px) {
			@include position(sticky, add($banner-height, $view-v-indent));

			display: block;
			height: subtract($view-height, ($view-v-indent * 2));
			overflow: auto;
		}
	}

	.view-content {
		display: block;
		margin-bottom: 1rem;
	}
}
