<div #modal class="modal">
	<div class="modal-container" [ngSwitch]="modalType">
		<!-- standard modal -->
		<div class="modal-content-standard" *ngSwitchCase="'standard'">
			<div class="header">
				<h3>{{ modalContext.title }}</h3>
				<span class="close" *ngIf="modalConfig.showClose" (click)="react(modalConfig.close)"></span>
			</div>
			<div class="body">
				<p>{{ modalContext.content }}</p>
			</div>
			<div class="footer">
				<button class="btn btn-info text-white" *ngFor="let button of modalContext.buttons; let last = last"
					(click)="react(button[1])" [class.me-2]="!last">
					{{ button[0] }}
				</button>
			</div>
		</div>

		<!-- custom modal -->
		<div class="modal-content-custom" *ngSwitchCase="'custom'">
			<ng-container #viewContainerRef></ng-container>
		</div>
	</div>
</div>
