@import '_variables';
@import '_mixins';
@import '_utilities';

.date {
	position: relative;

	.input-field {
		display: inline-flex;
		align-items: center;

		width: 11em;
		padding: .1em .4em .1em .2em;
		border: 1px solid #ced4da;
		border-radius: .2em;

		.separator {
			height: 1em;
			border-left: 1px solid #000;
			margin-right: .2em;
			margin-left: .2em;
			transform: rotate(15deg);
		}

		.calendar-button {
			display: block;
			width: 1.1em;
			height: 1.1em;
			margin-left: auto;

			cursor: pointer;
			outline: none;

			background-image: url('/assets/icons/calendar.svg');
			background-repeat: no-repeat;
			background-size: contain;
		}

		&:focus-within {
			border: 1px solid #80bdff;
			box-shadow: 0 0 0 1px #80bdff;
		}
	}
}

.date-backdrop {
	@include position(fixed, 0, 0, 0, 0);
	z-index: $z-index-level-1;

	background-color: transparent;
}

.date-backdrop ~ .date {
	z-index: $z-index-level-2;
}
