@import '_variables';
@import '_mixins';
@import '_utilities';

.loading {
	@include flexbox-center;

	.loading-content {
		display: flex;
		column-gap: .5rem;

		padding: 1rem 2rem;
		border-radius: .25rem;

		background-color: #595959;
		box-shadow: 5px 5px 15px #4d4d4d;

		span { color: #cccccc; }

		.loading-text {
			font-size: 1.5rem;
			font-weight: 500;
		}
	}
}
